<div class="manager-container">
  <div class="main-card table-section">
    <div class="card-header">
      <div class="header-left">
        <span class="material-icons notranslate" translate="no">attach_money</span>
        <h3>Gestión de Monedas</h3>
      </div>
      <button class="btn-neon-action" (click)="openModal()">
        <span class="material-icons notranslate" translate="no">add</span> Nueva Moneda
      </button>
    </div>

    <div class="table-frame">
      <table class="clean-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>CÓDIGO</th>
            <th>SÍMBOLO</th>
            <th class="text-right">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          @if (loading()) {
            <tr><td colspan="5" class="text-center">Cargando...</td></tr>
          } @else if (coins().length === 0) {
            <tr><td colspan="5" class="empty-state">No hay monedas registradas.</td></tr>
          } @else {
            @for (coin of coins(); track coin.id) {
              <tr>
                <td>{{ coin.id }}</td>
                <td class="font-bold notranslate" translate="no">{{ coin.name }}</td>
                <td class="notranslate" translate="no">{{ coin.code }}</td>
                <td class="notranslate" translate="no">{{ coin.symbol }}</td>
                <td class="text-right">
                  <button class="action-btn edit" (click)="openModal(coin)">
                    <span class="material-icons notranslate" translate="no">edit</span>
                  </button>
                  <button class="action-btn delete" (click)="deleteCoin(coin.id)">
                    <span class="material-icons notranslate" translate="no">delete</span>
                  </button>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>

    @if (totalPages() > 1) {
      <div class="pagination-container">
        <button class="pagination-btn" [disabled]="currentPage() === 1" (click)="prevPage()">
          <span class="material-icons notranslate" translate="no">chevron_left</span> Anterior
        </button>
        
        <div class="pagination-info">
          Página <b>{{ currentPage() }}</b> de <b>{{ totalPages() }}</b>
        </div>

        <button class="pagination-btn" [disabled]="currentPage() === totalPages()" (click)="nextPage()">
          Siguiente <span class="material-icons notranslate" translate="no">chevron_right</span>
        </button>
      </div>
    }
  </div>
</div>

@if (showModal()) {
  <app-coin-form-modal
    [coinToEdit]="selectedCoin()"
    (onClose)="closeModal()"
    (onSave)="onSaveSuccess()">
  </app-coin-form-modal>
}
