<div class="manager-container">
  <div class="main-card table-section">
    <div class="card-header">
      <div class="header-left">
        <span class="material-icons notranslate" translate="no">category</span>
        <h3>Gestión de Categorías</h3>
      </div>
      <button class="btn-neon-action" (click)="openModal()">
        <span class="material-icons notranslate" translate="no">add</span> Nueva Categoría
      </button>
    </div>

    <div class="table-frame">
      <table class="clean-table">
        <thead>
          <tr>
            <th style="width: 10%">ID</th>
            <th style="width: 20%">NOMBRE</th>
            <th style="width: 50%">DESCRIPCIÓN</th>
            <th class="text-right" style="width: 20%">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          @if (loading()) {
            <tr><td colspan="4" class="text-center">Cargando...</td></tr>
          } @else if (categories().length === 0) {
            <tr><td colspan="4" class="empty-state">No hay categorías registradas.</td></tr>
          } @else {
            @for (cat of categories(); track cat.id) {
              <tr>
                <td>{{ cat.id }}</td>
                <td class="font-bold">{{ cat.name }}</td>
                <td>
                  <span class="text-truncate-2 clickable-description" 
                        [class.is-expanded]="isExpanded(cat.id!)"
                        (click)="toggleExpand(cat.id!)">
                    {{ cat.description }}
                  </span>
                </td>
                <td class="text-right">
                  <button class="action-btn edit" (click)="openModal(cat)">
                    <span class="material-icons notranslate" translate="no">edit</span>
                  </button>
                  <button class="action-btn delete" (click)="deleteCategory(cat.id)">
                    <span class="material-icons notranslate" translate="no">delete</span>
                  </button>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>

    @if (totalPages() > 1) {
      <div class="pagination-container">
        <button class="pagination-btn" [disabled]="currentPage() === 1" (click)="prevPage()">
          <span class="material-icons notranslate" translate="no">chevron_left</span> Anterior
        </button>
        
        <div class="pagination-info">
          Página <b>{{ currentPage() }}</b> de <b>{{ totalPages() }}</b>
        </div>

        <button class="pagination-btn" [disabled]="currentPage() === totalPages()" (click)="nextPage()">
          Siguiente <span class="material-icons notranslate" translate="no">chevron_right</span>
        </button>
      </div>
    }
  </div>
</div>

@if (showModal()) {
  <app-category-form-modal
    [categoryToEdit]="selectedCategory()"
    (onClose)="closeModal()"
    (onSave)="onSaveSuccess()">
  </app-category-form-modal>
}
